<!-- CPI Footer Component -->
<footer class="section footer">
  <div class="container">
    <div class="footer-wrapper">
      <a href="index.html" class="footer-brand w-inline-block"><img src="images/logo.svg" loading="lazy" alt="Caring Partners International"></a>
      <div id="w-node-e6f8d121-8381-b7e8-196e-a733dc3b7a70-dc3b7a6a" class="footer-block">
        <div class="title-small">Address:</div>
        <a href="https://maps.google.com/?q=601+Shotwell+Dr,+Franklin,+OH+45005" target="_blank" class="footer-link">601 Shotwell <br>Dr., Franklin, <br>OH 45005</a>
        <div class="small-space"></div>
        <div class="title-small">Contact:</div>
        <a href="tel:+18001234567" class="footer-link">1800 123 4567</a>
        <a href="mailto:info@caringpartners.org" class="footer-link">info@caringpartners.org</a>
        <div class="footer-social-block">
          <a href="https://www.facebook.com/caringpartnersintl" target="_blank" class="footer-social-link w-inline-block"><img src="images/facebook.svg" loading="lazy" alt="Facebook"></a>
          <a href="https://www.instagram.com/caringpartners" target="_blank" class="footer-social-link w-inline-block"><img src="images/instagram.svg" loading="lazy" alt="Instagram"></a>
          <a href="#" target="_blank" class="footer-social-link w-inline-block"><img src="images/thread.svg" loading="lazy" alt="Threads"></a>
          <a href="#" target="_blank" class="footer-social-link w-inline-block"><img src="images/youtube.svg" loading="lazy" alt="YouTube"></a>
        </div>
      </div>
      <div id="w-node-e6f8d121-8381-b7e8-196e-a733dc3b7a80-dc3b7a6a" class="footer-block">
        <div class="title-small">Resources</div>
        <a href="our-programs.html" class="footer-link">Our Programs</a>
        <a href="get-involved.html" class="footer-link">Volunteer Program</a>
        <a href="medical-mission-trips.html" class="footer-link">Medical Missions Trips</a>
        <a href="medical-kit-program.html" class="footer-link">Medical Kit Program</a>
        <a href="tri-state-care-network-program.html" class="footer-link">Tri-State Care Network</a>
        <a href="restore-community.html" class="footer-link">Restore Community</a>
      </div>
      <div id="w-node-e6f8d121-8381-b7e8-196e-a733dc3b7a8f-dc3b7a6a" class="footer-block">
        <a href="about-us.html" class="title-small text-link black">About us</a>
        <a href="ministry-news.html" class="footer-link">News</a>
        <a href="partnering-with-cpi.html" class="footer-link">Partners</a>
        <a href="contact-us.html" class="footer-link">Contact Us</a>
        <a href="terms-and-conditions.html" class="footer-link">Terms &amp; Conditions</a>
        <a href="privacy-policy.html" class="footer-link">Privacy policy</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright-center">© 2025 Caring Partners International, Inc. All rights reserved.</div>
</footer>
